<%= title 'Forgot Password' %>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<% form_tag password_resets_path do %>
	<fieldset class="first">
		<p>
			<label>Email:</label>
			<%= text_field_tag "email", "", :class => "input_text" %>
		</p>
	</fieldset>
	
	<fieldset class="submit">
		<p><%= submit_tag "Reset my password", :class => "input_submit" %></p>
	</fieldset>
<% end %>