<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"  xmlns:fb="http://www.facebook.com/2008/fbml" >
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-15" />
	<meta http-equiv="content-language" content="nl" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link href="http://arid.be/news.atom" rel="alternate" title="Arid News" type="application/atom+xml" />
	<link href="http://arid.be/gigs.atom" rel="alternate" title="Arid On Stage" type="application/atom+xml" />

	<title>NEW SINGLE ON STUDIO BRUSSEL! - Arid</title>
	<link href="/stylesheets/screen.css?1264588901" media="all" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/print.css?1264588901" media="print" rel="stylesheet" type="text/css" />
	<script src="/javascripts/all.js?1264588901" type="text/javascript"></script>

	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" /><![endif]-->
	
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  <script type="text/javascript">
//<![CDATA[
             jQuery(document).ready( function() {
                FB_RequireFeatures(["XFBML"], function() {
                  FB.init('bb11a85b7484f60a0894138c62bf1ce6','/xd_receiver.html', {});
                  
                });
              });

//]]>
</script>
</head>
<body>
	
	<div id="topbar">
    <div class="container">
      <div id="you">      
        <img src="/images/person.gif" class="avatar" /><p id="logged-in">Logged in as <a href="#">Hilke</a> (<a href="#">Your settings</a> | <a href="#">Log out</a>)</p>
      </div>
	  </div>
  </div>
  
  <div id="header" class="clearfix">
    <div class="container">
  		<p id="logo"><a href="/">Arid</a></p>
  		<ul id="nav_main">
  			<li class="current"><a href="/news">News</a></li>
  			<li class=""><a href="/gigs">Tour Calendar</a></li>
  			<li class=""><a href="/contact">Contact</a></li>
  			<li class=""><a href="/contact">Music</a></li>
  			<li class=""><a href="/contact">Photos</a></li>
  			<li class=""><a href="/contact">Videos</a></li>
  			<li class=""><a href="/contact">Shop</a></li>
  		</ul>
  	</div>
  </div>
	
	<div id="content-wrap">
	  <div class="container">	  
  		<div id="sidebar">
  			<div id="socialmedia" class="box">
  	<h2>Follow Arid on</h2>
  	<ul class="clearfix">
      <li><a href="http://www.myspace.com/aridcentral" target="_blank" title="Myspace"><img alt="Myspace" src="http://arid.be/images/icons/social/IconMyspaceSml.png?1264588901" /></a></li>
      <li><a href="http://www.facebook.com/pages/Arid/21485402588" target="_blank" title="Facebook"><img alt="Facebook" src="http://arid.be/images/icons/social/IconFacebookSml.png?1264588901" /></a></li>
      <li><a href="http://www.last.fm/music/Arid" target="_blank" title="Last.fm"><img alt="Last.fm" src="http://arid.be/images/icons/social/IconLastfmSml.png?1264588901" /></a></li>
      <li><a href="http://twitter.com/aridcentral" target="_blank" title="Twitter"><img alt="Twitter" src="http://arid.be/images/icons/social/IconTwitterSml.png?1264588901" /></a></li>
      <li><a href="http://www.youtube.com/aridcentral" target="_blank" title="Youtube"><img alt="Youtube" src="http://arid.be/images/icons/social/IconYoutubeSml.png?1264588901" /></a></li>
  	</ul>
  </div>

  			<div id="maillist_signup" class="box">
  <form action="/mailing_addresses" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="D00W4x0K4UWMlzA01eLIg60CYyzpqLsO99ru9IXfj70=" /></div>			<h2>Stay in the loop!</h2>
  			<input class="input_text" id="mailing_address_email" name="mailing_address[email]" value="you@yourdomain.com" size="30" type="text" />
  		<input class="input_submit" id="mailing_address_submit" name="commit" type="submit" value="Subscribe" />
  </form></div>

  			<div id="dates" class="box">
  	<h2>Arid on stage</h2>
  	<table>
  			<tr class="first">
  				<td class="date">27/02/10</td>
  				<td class="venue"><a href="/gigs/2010-02-27-ancienne-belgique">Ancienne Belgique (Sold Out)</a></td>
  			</tr>
  			<tr class="">
  				<td class="date">28/02/10</td>
  				<td class="venue"><a href="/gigs/2010-02-28-ancienne-belgique">Ancienne Belgique (Extra Concert)</a></td>
  			</tr>
  			<tr class="">
  				<td class="date">10/03/10</td>
  				<td class="venue"><a href="/gigs/2010-03-10-paradiso">Paradiso</a></td>
  			</tr>
  			<tr class="">
  				<td class="date">11/03/10</td>
  				<td class="venue"><a href="/gigs/2010-03-11-effenaar">Effenaar</a></td>
  			</tr>
  	</table>
  </div>

  		<div id= "singlepromo" class="box">
  	<h2>New single: Come On</h2>

  	<object height="110" width="110"> <param name="movie" 		value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Farid%2Fcome-on&amp;auto_play=false&amp;player_type=artwork&amp;color=da4499"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="220" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Farid%2Fcome-on&amp;auto_play=false&amp;player_type=artwork&amp;color=da4499" type="application/x-shockwave-flash" width="220"></embed> </object></td>

  	<h2>Vote for 'De Afrekening'</h2>
  	<a href="http://www.stubru.be/jouwtopdrievoordeafrekening0" target="_blank" title="De Afrekening"><img alt="De Afrekening" src="http://arid.be/images/deafrekening.jpg?1265981584" /></a>
  </div>


  			<div id="facebook_badge" class="box">
  				<div id="facebook_badge">
  					<fb:fan profile_id="21485402588" stream="" connections="6" width="200"></fb:fan><div style="font-size:8px; padding-left:10px"></div>
  				</div>
  			</div>
			
  		</div>  

  		<div id="content" class="clearfix">
  		  
      	<h1>Tour Calendar</h1>

        <h2>Upcoming</h2>
        <table>
        	<tbody>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-03-11-effenaar">11-03-2010</a></td>
        			<td><a href="http://www.effenaar.nl/">Effenaar</a></td>
        			<td><a href="http://www.effenaar.nl/event.php?e_id=1514">tickets</a></td>
        			<td>Eindhoven</td>
        			<td>Netherlands</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-03-20-arid-belzik-festival">20-03-2010</a></td>
        			<td><a href="http://www.belzik.be/">BELZIK Festival</a></td>
        			<td><a href="http://www.belzik.be/">tickets</a></td>
        			<td>HERVE</td>
        			<td>BELGIUM</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-04-26-vooruit">26-04-2010</a></td>
        			<td><a href="http://vooruit.be/nl/concerten/2010/4/26">VOORUIT</a></td>
        			<td><a href="http://www.democrazy.be/nl/agenda/event/1040">tickets</a></td>
        			<td>Gent</td>
        			<td>Belgium</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-04-27-het-depot">27-04-2010</a></td>
        			<td><a href="http://www.hetdepot.be/index.php?id=105&amp;tx_ttnews[tt_news]=403&amp;tx_ttnews[backPid]=105&amp;cHash=2a7d780b65">HET DEPOT</a></td>
        			<td><a href="https://tickets.ticketmatic.com/?k=qvO6tdy8sgo&amp;l=nl">tickets</a></td>
        			<td>Leuven</td>
        			<td>Belgium</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-04-29-coliseum">29-04-2010</a></td>
        			<td><a href="http://www.coliseum.be/">COLISEUM</a></td>
        			<td><a href="http://www.coliseum.be/billets.asp">tickets</a></td>
        			<td>Charleroi</td>
        			<td>Belgium</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="/gigs/2010-04-24-dranouter-aan-zee">24-04-2010</a></td>
        			<td><a href="http://www.dranouteraanzee.be/">DRANOUTER AAN ZEE</a></td>
        			<td><a href="www.dranouteraanzee.be ">tickets</a></td>
        			<td>De Panne</td>
        			<td>Belgium</td>
        		</tr>
        	</tbody>
        </table>

        <h2>Past</h2>
  		  
        <table>
        	<tbody>
        		<tr>
        			<td width="85px"><a href="concert-ab.html">27-02-2010</a></td>
        			<td><a href="http://www.abconcerts.be/">Ancienne Belgique (sold out)</a></td>
        			<td class="tourdate-media"><a class="tourdate-comments" href="#">6 <span>Comments</span></a> <a class="tourdate-photos" href="#">3 <span>Photos</span></a></td>
        			<td>Brussels</td>
        			<td>Belgium</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="concert-ab.html">28-02-2010</a></td>
        			<td><a href="http://www.abconcerts.be/">Ancienne Belgique (extra concert)</a></td>
        			<td class="tourdate-media"><a class="tourdate-comments" href="#">14 <span>Comments</span></a> <a class="tourdate-photos" href="#">17 <span>Photos</span></a> <a class="tourdate-videos" href="#">12 <span>videos</span></a></td>
        			<td>Brussels</td>
        			<td>Belgium</td>
        		</tr>
        		<tr>
        			<td width="85px"><a href="concert-ab.html">10-03-2010</a></td>
        			<td><a href="http://www.paradiso.nl/">Paradiso</a></td>
        			<td class="tourdate-media"><a class="tourdate-comments" href="#">13 <span>Comments</span></a></td>
        			<td>Amsterdam</td>
        			<td>Netherlands</td>
        		</tr>
        	</tbody>
        </table>
          		  
      </div>
		</div>    
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11912564-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>