/* =forms
------------------------------------------------------------------*/

form, fieldset, legend, form h3{
  border:0; 
  margin:0; 
  padding:0; 
}

form p{
  clear:left;
  margin:0 0 10px 0;
}

fieldset{
  border-top:1px solid rgb(0,18,27);
  margin-top:10px;
  padding-top:15px;
}

fieldset.first{
  border-top:none;
  margin-top:0;
  padding-top:0;
}

label{
  display: block;
  margin-bottom:5px;
}

input.input_text, textarea{
  color:rgb(20,20,30);
  background:rgb(179,190,194);
  border:1px solid rgb(5,5,10);
  font-family:arial, sans-serif;
  font-size:13px;
  padding:6px;  
  width:280px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
	-webkit-transition: background-color .2s linear;
}

textarea{
  height:120px;
  width:360px;
}

input.input_text:focus, textarea:focus{
  background:rgb(255,255,255);
}

abbr{ 
  cursor:help; 
  font-style:normal; 
  border:0; 
}

/* radio & checkbox fieldsets */
.radio{/*, .checkbox{*/
  padding-left:130px;
}
.radio h3, .checkbox h3{
  font-size:1em;
}
label input{
  background:transparent;
  margin-right:4px;
  width:auto;
}
.radio label,
.checkbox label{
  display:inline;
  float:none;
  margin:0;
  text-align:left;
  width:auto;
}

/* notes & error handling */
.validation-advice{
  font-family:arial;
  background:url(/images/bullet-error.png) no-repeat 0 0;
  color:#CC0000;
  font-size:11px;
  font-style:italic;
  font-weight:normal;
  margin:6px 0 0 130px;
  padding:0 3px 0 16px;
}
.note{
  font-size:0.8333em;
  font-weight:normal;
}
.contact_form_notice{
  clear:left;
  font-size:11px;
}
.mailer-error{/* when somebody enters a non-existent e-mail adress */
  background:#f7f7b5;
  border:1px solid red;
  padding:9px;
  margin-bottom:18px
}

/* Post comment boxes */

.write-comment{
	background: rgba(0, 25, 32, 0.15);
  padding:10px;
}
.write-comment p{
  margin:0;
}
.write-comment label{
  font-weight:bold;
}