/* Internet Explorer 6 specific styles */
.clearfix {
	zoom: 1; /*height: 1%;*/
}

/* GIF fallback icons */
.news_entry .meta .jump_to_comments{
	background:url(/images/icons/comments_small_sprite.gif) no-repeat 0 0;
}
.tourdate-videos{
	background:url(/images/icons/comments_small_sprite.gif) no-repeat 0 0;
}
.tourdate-photos{
  background-image:url(/images/icons/photos_small_sprite.gif);
}
.tourdate-videos{
  background-image:url(/images/icons/videos_small_sprite.gif);
  padding-left:11px;
}
.go-back{
  background:url(/images/icons/leftarrow.gif) no-repeat 0 5px;
}