/* Internet Explorer 6 specific styles */

.clearfix {
	zoom: 1; /*height: 1%;*/
}

/* serve transparent gif to IE6 because IE6 doesn't support alpha transparency on PNG */
.validation-advice{
background-image:url(/images/bullet-error.gif);
}

/* add hasLayout, fix stuff */
.element{
  zoom:1;
}

/* prevent double spacing on nav_sec li's */
#nav_sec li{
  display:inline;
}

/* Fixes IE margin bugs */
* html .column, * html div.span-1, * html div.span-2, 
* html div.span-3, * html div.span-4, * html div.span-5, 
* html div.span-6, * html div.span-7, * html div.span-8, 
* html div.span-9, * html div.span-10, * html div.span-11, 
* html div.span-12, * html div.span-13, * html div.span-14, 
* html div.span-15, * html div.span-16, * html div.span-17, 
* html div.span-18, * html div.span-19, * html div.span-20, 
* html div.span-21, * html div.span-22, * html div.span-23, 
* html div.span-24 { overflow-x: hidden;}

.box, #content{
  background: #000;
}
