/* Internet Explorer 8 specific styles */

.box, #content{
  background: url(/images/box-trans.png);
}
.news_entry, .comment, td, fieldset{
  background: url(/images/border-trans.png) repeat-x 0 0;  
}
.first{
  background:none;
}