/*	Typography
--------------------------------------------- */

/* General */

body{
	color:#999;
	font: 15px/1.5 Georgia, serif;
	text-shadow: 1px 1px 1px #000;
}

/* Headers */

h1, h2, h3, h4, p, ul, blockquote{
	margin:0 20px 22px 0;
}
h1{
	color:#FFF;
	font-family:helvetica, arial, serif;
	font-size:24px;
	font-weight:bold;
	line-height:26px;
	text-transform:uppercase;
}
h2{
	color:#FFF;
	font-family:arial, sans-serif;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	letter-spacing: 0.045em;
}
h3{
	color:#FFF;
	font-family:arial, sans-serif;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	letter-spacing: 0.025em;}

/* Links */

a{
	text-decoration:none;
}
a:link{
	color:#FFF;
}
a:visited{
	color:#CCC;
}
a:hover,
a:active,
a:focus{
	color:#FFF;
	text-decoration:underline;
}

a:hover img{
  opacity:0.75;
}

/* Defaults */

strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup, sub{
	line-height:0;
}
abbr, acronym{
	border-bottom: 1px dotted #666;
}

/* Code blocks */

pre{
	margin: 1.5em 0; 
	white-space: pre;
}
pre,code,tt{
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

/* Lists */

.content ul, .content ol{
	padding-left: 24px;
}
.content ul li{
	list-style: inside url(../images/bullet.gif);
}
.content ol li{
	list-style: inside decimal;
}

/* Tables */

table{
	margin-bottom:1.5em;
}
td, th{
	border-collapse:collapse;
	font-size:14px;
	padding:6px;
	text-align:left;
	vertical-align:top;
}
th{
	background:#000 none repeat scroll 0 0;
}
td{
	border-top:1px solid rgba(255, 255, 255, 0.075);
}

/* Video (trying to add a bottom margin to youtube embeds…) */

embed{
	margin-bottom:22px;
}

/* Generic classes */

.fl{
	float:left;
	margin-right:9px;
}
.fr{
	float:left;
	margin-left:9px;
}
.clear{
	clear:both;
}
.content img{
	border:5px solid #343434;
}
.mute{
  font-size:85%;
}

/* Clearfix */

.clearfix:after, .container:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Layout
--------------------------------------------- */

body{
	background:#000 url(../images/body_bg_blur.jpg) no-repeat center -90px;
}
.container{
	width: 815px;
	margin: 0 auto;
	text-align:left;
}
#sidebar{
	float:left;
	margin-right:30px;
	padding-top:50px;
	width:270px;
}
#content{
	float:left;
	background: rgba(0, 0, 0, 0.6);
	margin-top:44px;
	padding:20px;
	width:475px;
}

/* Header
--------------------------------------------- */
#header{
	padding-left:20px;
}
#logo a{
	border:none;
	font-family:helvetica, arial, serif;
	font-size:30px;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
}

/* Top bar (user navigation)*/

#topbar{
	/*background:rgba(50, 54, 54, 0.75);*/
	background: rgba(1, 82, 112, 0.1);
	border-bottom:1px solid rgba(255, 255, 255, 0.075);
	height:28px;
  padding:5px 0;
  width:100%;
}
#topbar .container{
  position:relative;
}
#topbar ul{
  float:left;
  position:absolute;
  right:0;
}
#topbar li{
  float:left;
}
#topbar li.first a{
  border:none;
}
#topbar a{
  border-left:1px solid rgb(30, 30, 30);
	color:#999;
	display:block;
	font-family:arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:6px 10px;
	text-transform:uppercase;
	letter-spacing: 0.045em;
	text-shadow: 1px 1px 1px #000;
}
#topbar a:hover, #topbar li.current a{
  color:#FFF;
}
#topbar span.or{
  font-family:Baskerville, Palatino, Georgia;
  font-size:14px;
  font-style:italic;
  line-height:80%;
  text-transform: lowercase;
}

#topbar img{
  margin-top:-3px;
}

/* Nav main */

#nav_main{
	padding-bottom:44px;
	list-style-type:none;
}
#nav_main li a{
	border:none;
	font-family:helvetica, arial, serif;
	font-weight:bold;
	font-size:18px;
	color:#999999;
	display:block;
	font-weight:normal;
	line-height:28px; 
	text-transform:uppercase;
}
#nav_main li a:hover{
	color:#FFF;
}
#nav_main li.current a,
#nav_main li.current a:hover,
#nav_main li.parent_of_current a,
#nav_main li.parent_of_current a{
	color:#FFF;
}

/* Content
--------------------------------------------- */
ul.button_list{
	margin-right:0;
	padding:0;
	width:100%;
	zoom:1;
}
.content ul.button_list li{
	display:block;
	list-style:none;
	float:left;
}
.button_list a{
	display:block;
	float:left;
	margin-right:10px;
}
/* Buttons */
.input_submit, .button_list a{
	background:#323636;
	border:none;
	color:#999;
	display:block;
	font-family:arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:6px;
	text-transform:uppercase;
	letter-spacing: 0.045em;
	text-shadow: 1px 1px 1px #000;
}
.input_submit:hover, .button_list a:hover{
	color:#FFF;
	text-decoration:none;
}

/* News entries */
.news_entry{
	border-top:1px solid rgba(255, 255, 255, 0.075);
	margin-bottom:33px;
	padding-top:22px;
}
.first{
	border:none;
	padding:0;
}
.news_entry h1{
	margin-bottom:5px;
}
.news_entry .meta .date{
	border-right:1px solid #343434;
	margin-right:8px;
	padding-right:8px;
	float:left;
}
.news_entry .meta .jump_to_comments{
	background:url(../images/icons/comments_small_sprite.png) no-repeat 0 0;
	border:none;
	display:block;
	float:left;
	height:22px;
	padding:0 20px;
}
.news_entry .meta .jump_to_comments:hover{
	color:#FFF;
	background-position:0 -22px;
}

/* Remove text-shadow for addThis */
#at20mc{
	text-shadow:none;
}

/* Comments */
#comments{
	padding-top:22px;
}
.comment{
	border-top:1px solid rgba(255, 255, 255, 0.075);
	padding-top:22px;
}
.posted{
	color:#676767;
	font-family:arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-bottom:3px;
	text-transform:uppercase;
	letter-spacing: 0.045em;
}
.posted .date{
	color:#ccc;
	font-family:georgia, serif;
	font-size:13px;
	font-weight:bold;
}

#comment_form h2{
	margin-bottom:10px;
}
#comment_form textarea{
	height:170px;
	width:370px;
}


/* Sidebar
--------------------------------------------- */

.box{
	background: rgba(0, 0, 0, 0.6);
	margin-bottom:20px;
	padding:20px;
}
#sidebar h2{
	margin-bottom:10px;
}

#maillist_signup .input_text{
	margin-bottom:5px;
	width:210px;
}

#socialmedia{
	/* Add extra space for margin on last image li*/
	overflow:hidden;
	padding-bottom:15px;/* Accomodate for 5px bottom margin on li's */
	width:230px;
	zoom:1;
}
#socialmedia ul{
	margin:0;
	width:240px;
}
#socialmedia li{
	margin:0 10px 5px 0;
	float:left;
}
#socialmedia a{
	border:none;
	opacity:0.75;
}
#socialmedia a:hover{
	opacity:1;
}

#dates table{
	border:none;
	margin-bottom:0;
	width:100%;
}
#dates td{
	padding:5px 0;
}
#dates .first td{
	border-top:none;
}
#dates td.date{
	width:30%;
}
#dates td.venue{
	width:70%;
}
#dates td.venue a{
	display:block;
	border:none;
}

/* Login/register page */

#other-action{
  background:rgba(0,0,0,0.2);
  padding:10px;
}
#other-action #signup{
  float:left;
  line-height:31px;
  margin:0 10px 0 0;
}
#other-action .or{
  font-family:Baskerville, Palatino, Georgia;
  font-size:18px;
  font-style:italic;
  line-height:80%;
  text-transform: lowercase;
}
#other-action #fb_connect{
  float:left;
  margin:0;
}
#other-action img{
	border:none;
}

/*Profile page*/
#profile h2{
	font-size:15px;
	margin-bottom: 5px;
	margin-top:20px;
}

.hidden{
	display:none;
}