<h1>Settings</h1>

profile_picture
	upload new

user name
email address			update
old password
new password
retype new password		update

gender					update
date of birth			update
country					update
city					update
fav Arid song			update

Facebook default publish settings
	Publish to my Facebook live stream
		<tickbox>when I post a comment or update</tickbox>
		<tickbow>when I post a photo</tickbox>
		<tickbox>when I post a video</tickbox>					update

MySpace url				update
Twitter url				update
Netlog url				update