<%= content_tag :p, link_to("Back to #{@user.name}'s profile", profile_path(@user)), :class => "go-back" if @user.present? %>

<%= title "Meet Arid's Fans" unless @user.present? %>
<%= title "Meet #{@user.name}'s Friends" if @user.present? %>

<!-- @todo Pagination -->

<div id="browse-fans">
	<div class="box">
		<ul class="listbox clearfix">
			<%- @users.each do |user| -%>
				<li class='fan'>
					<%= link_to "#{image_tag(user.avatar.url(:small))}#{truncate(user.name, 10)}", profile_path(user) %>
				</li>
			<%- end -%>
		</ul>
	</div>
</div>