<%= title t('videos.title') %>

<div id="photo-list-big">
	<ul class="clearfix">
		<%- @videos.each do |video| -%>
		<li class='videos'>
			<%= link_to "#{image_tag("http://i3.ytimg.com/vi/#{video.youtube_id}/default.jpg")}#{(video.name)}", [video] %>
		</li>
		<%- end -%>
	</ul>
</div>