<%= content_tag :p, link_to("#{t('gigs.back_to_gig')} video's", [:video]), :class => "go-back" %>

<%= title @video.name %>
<div id="media-detail" class="box clearfix">
<object width="560" height="340">
	<param name="movie" value="http://www.youtube.com/v/<%=@video.url.split(/\=/)[1]%>"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always">
	</param><embed src="http://www.youtube.com/v/<%= @video.url.split(/\=/)[1] %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed>
</object>
</div>