

<h1>Edit <%= @post.title %></h1>
<div>
	<% form_for @post, :url => admin_post_path(@post), :html => {:method => :put} do |form| %>
	
          <%= render form %>
        <p>
        <%= form.submit 'Update', :class => 'wymupdate' %>
	</p>
		
	<% end %>
</div>