<div class="news_entry first">
	<%= title "Press - #{@post.title}" %>
	<p class="meta clearfix">
		<span class="date"><%= @post.created_at.strftime('%e %B').lstrip %></span> 
	</p>
	<p>
		<%= raw (@post.body) %>
	</p>
</div>

