<% form_for @mailing_adress, :url => mailing_adresses_path  do |form| %>
<%= form.error_messages %>
	<p>
		<%= form.label :email %><br />
		<%= form.text_field :email %>
	</p>

		<%= form.submit 'Subscribe to the mailing list' %>
	</p>

<% end %>