  <div class="group">
    <%= f.label :admin, "Admin", :class => :label %>
    <%= f.check_box :admin, :class => 'check_box' %>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', admin_users_path %>
</div>