<h1>Admin::Users#edit</h1>
<p>Find me in app/views/admin/users/edit.html.erb</p>

<% form_for @user, :url => admin_user_path(@user), :html => {:method => :put} do |form| %>

	<%= form.label :admin %>
	<%= form.check_box :admin %>
	
	<%= form.submit 'update' %>
<% end %>