

<h1>Edit <%= @gig.venue %></h1>
<div>
<% form_for @gig, :url => admin_gig_path(@gig), :html => {:method => :put} do |form| %>
<%= render form %>
      <p>
      <%= form.submit 'Update'%>
      </p>
<% end %>
</div>