<div class="block">
  <h3>Fast links</h3>
  <ul class="navigation">
    <li><%= link_to 'Add new Post', new_admin_post_path %></li>
    <li><%= link_to 'Add new Gig', new_admin_gig_path %></li>
	<li><%= link_to 'Add new Song', new_admin_song_path %></li>
  </ul>
</div>