subscribe to our newsletter
<%= content_tag(:div, flash[:error]) if flash[:error].present? %>
<% form_for :mailing_address, :url => mailing_addresses_path  do |form| %>
	<p>
		<%= form.label :email, "name@domain.com", :class => 'example' %><br />
		<%= form.text_field :email %>
	</p>
	<p>
	<%= form.submit 'Subscribe' %>
	</p>

<% end %>