<div id= "singlepromo" class="box">
	<h2><%= t('sidebar.new_single') %>: Broken Dancer</h2>

<object width="220" height="134"><param name="movie" value="http://www.youtube.com/v/Dft1z3Cid4k&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Dft1z3Cid4k&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="220" height="134"></embed></object></td>

	<h2><%= t('sidebar.vote') %></h2>
	<%= link_to  image_tag('deafrekening.jpg', :alt => "De Afrekening"), "http://www.stubru.be/jouwtopdrievoordeafrekening0", :title => "De Afrekening", :target => "_blank"  %>
</div>