<div id= "singlepromo" class="box">
	<h2>New single: Come On</h2>

	<object height="110" width="110"> <param name="movie" 		value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Farid%2Fcome-on&amp;auto_play=false&amp;player_type=artwork&amp;color=da4499"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="220" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Farid%2Fcome-on&amp;auto_play=false&amp;player_type=artwork&amp;color=da4499" type="application/x-shockwave-flash" width="220"></embed> </object></td>

	<h2>Vote for 'De Afrekening'</h2>
	<%= link_to  image_tag('deafrekening.jpg', :alt => "De Afrekening"), "http://www.stubru.be/jouwtopdrievoordeafrekening0", :title => "De Afrekening", :target => "_blank"  %>
</div>