<div id="dates" class="box">
	<h2><%= t('sidebar.on_stage') %></h2>
	<table>
		<%  upcoming_gigs.each do |gig| %>
			<tr class="<%= "first" if gig == upcoming_gigs.first %>">
				<td class="date"><%= gig.date.strftime('%d/%m/%y') %></td>
				<td class="venue"><%= link_to gig.venue.titleize, gig_path(gig) %></td>
			</tr>
		<%  end %>
	</table>
</div>