<h2>Social</h2>
<%= link_to image_tag('IconMySpaceSml.png'), "http://www.myspace.com/aridencentral", :title => "Myspace", :target => "_blank" %>
<%= link_to image_tag('IconFacebookSml.png'), "http://www.facebook.com/pages/Arid/21485402588", :title => "Facebook", :target => "_blank"%>
<%= link_to image_tag('IconLastfmSml.png'), "http://www.last.fm/music/Arid", :title => "Last.fm", :target => "_blank"%>

<!--<a target="_blank" href="http://www.twitter.com/colorlessgreen" title="Twitter"><img src="images/IconTwitterSml.png"/></a>
<a target="_blank" href="http://www.youtube.com/vocalistix" title="Youtube"><img src="images/IconYoutubeSml.png"/></a>-->
<!--<a target="_blank" href="http://www.ilike.com/artist/Colorless+Green+Ideas" title="iLike"><img src="images/IconIlikeSml.png"/></a>-->

<div id="facebook_badge">
	<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("5f09ca15d65cdb0ba72523835015bf6b");</script><fb:fan profile_id="21485402588" stream="" connections="6" width="200"></fb:fan><div style="font-size:8px; padding-left:10px"></div>
</div>

<!--<div id=""twitter_badge>
<a href="http://twitstamp.com"><img src="http://twitstamp.com/colorlessgreen/minichrome.png" border="0" alt="twitstamp.com" /></a>
</div><br><br>-->